  body{
	background-color: #9d9d97;
}

.container {
	background-color: white;
	border-radius: 40px;
	padding: 5px;
	margin: 5 auto;
	text-align: justify;

}
.container section {
	margin: 20px;
}

header{
	padding: 10px;
	margin: 0 auto;
	border-radius: 40px 40px 0px 0px;
	text-align: center;
	background-color: #638cc2;
}
header li{
	display: inline-block;
	list-style-type: none;
}
header li img{
	width: 35px;
	height: 35px;
}

.socialNav h1{
	font-size: 70px;
	font-family: Arial;
	color: white;
}
.socialNav h3{
	font-size: 3em;
	padding: 0px;
}
.socialNav h4 a{
	padding: 0px;
	color: black;
}

.print{
	float: right;
	padding: 10px;
	font-size: 15px;
}